<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.sreeharilive.foodapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FoodApp"
        android:allowBackup="true"
        android:icon="@drawable/des"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="sensorPortrait"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.CartActivity"
            android:parentActivityName=".activity.MainActivity"/>
        <activity android:name=".activity.ItemsListActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.FoodDescriptionActivity" />
        <activity android:name=".activity.CheckoutActivity"
            android:parentActivityName=".activity.CartActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.HistoryActivity"
            android:parentActivityName=".activity.MainActivity"/>
    </application>

</manifest>